{
	admin localhost:20190
	auto_https off
}

:80 {
	@autologin path /login*

	handle @autologin {
		reverse_proxy http://localhost {
			header_up X-DOMjudge-Login "test_team"
			header_up X-DOMjudge-Pass "dGVzdEBwYXNzd29yZA=="
		}
	}

	handle {
		reverse_proxy http://localhost
	}
}
