[client]
skip_ip_check = false
server_addr = "https://127.0.0.1:8080"
tls_ca_cert_path = "/etc/natsume/ca-cert.pem"
tls_reverse_cert_path = "/etc/natsume/cert/reverse.crt"
tls_reverse_key_path = "/etc/natsume/cert/reverse.key"
reverse_addr = "tester.icpc"
token = "sync@token"
caddyfile = "/etc/caddy/Caddyfile"
domjudge_addr = "http://localhost"
player_user = "stu"
player_user_password = "passwd"